<div class="centered-content">
    <div class="por-manager-container">
     <div class="sidebar has-background-white">
        <h1 class="title has-text-primary">
          List
        </h1>

        <div class="res-menu">
          <a class="res-menu-item is-active">
            <p>Res #1</p>
          </a>
          <a class="res-menu-item">
            <p>Res #2</p>
          </a>
          <a class="res-menu-item">
            <p>Res #3</p>
          </a>
        </div>

        <button class="button is-primary has-text-white">+ New Restaurant</button>

     </div>

     <div class="rev-list-container has-background-light">
        <h1 class="title has-text-primary">
          Reviews
        </h1>

        <!--Review Elements-->
        <div class="rev">
          <p>Rev #1</p>
        </div>
        <div class="rev">
          <p>Rev #2</p>
        </div>
        <div class="rev complete">
          <p>Rev #3</p>
        </div>

     </div>

    </div>
</div>
